body{
}
.todo-list-container {
    min-height: 500px;
}
.todo-list {
    padding-inline-start: 0;

}
.todo-item {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
}
.todo-item .text {
    flex-grow: 1;
}

.todo-form {
    display: flex;
    flex-direction: row;
    padding: 2px 4px;
    align-items: center;
    width: 600px;
}
.todo-input {
    margin-left: 8px;
    flex:1;
}
.todo-form .icon-button{
    padding: 10px;
}
.todo-form  .divider {
    height: 28px;
    margin: 4px;
}